/koodi/viikko3/HelloCucumber/.nb-gradle/
/koodi/viikko3/HelloCucumber/build/
/koodi/viikko3/LoginCucumber/.nb-gradle/
/koodi/viikko3/LoginCucumber/build/
/koodi/viikko3/WebLogin/.nb-gradle/
/koodi/viikko4/MockitoDemo/.nb-gradle/
/koodi/viikko4/MockitoDemo/build/
/koodi/viikko4/MatkakorttiMockito/.nb-gradle/
/koodi/viikko4/MatkakorttiMockito/build/
/koodi/viikko4/VerkkokauppaSpring/.nb-gradle/
/koodi/viikko4/VerkkokauppaSpring/build/
/koodi/viikko5/IntJoukkoSovellus/.nb-gradle/
/koodi/viikko5/IntJoukkoSovellus/build/
/koodi/viikko5/Tennis/.nb-gradle/
/koodi/viikko5/Tennis/build/
/koodi/viikko7/KiviPaperiSakset/build/